
<div class="row-fluid">
    <div class="span9 sidebar-nav-fixed">
        @Html.Partial("~/Views/Partial/Search.cshtml")
    </div>
</div>

@section scripts{

 <script type="text/javascript">
     $(document).ready(function () {
         $('.datefield').datepicker();
     });

     $('#ReturnDate').datepicker({
         defaultDate: "+1d",
         changeMonth: true,
         numberOfMonths: 2,
         dateFormat: "yy-dd-mm"
     });

</script>
    }