
<div class="row-fluid">
    <div class="span9 sidebar-nav-fixed">
        @Html.Partial("~/Views/Partial/Search.cshtml")
    </div>
</div>

@section scripts{

 <script type="text/javascript">
     $(document).ready(function () {
         $('.datefield').datepicker();
     });

     $('#ReturnDate').datepicker({
         defaultDate: "+1d",
         changeMonth: true,
         numberOfMonths: 2,
         dateFormat: "yy-dd-mm"
     });

     $('#fromCity').autocomplete({

         //make ajax call
         source: function (request, response) 
         {
             $.ajax({
                 url: "Home/ShowCityNames/",
                 type: 'POST',
                 data: { strTerm: request.term },
                 dataType: 'json',
                 success: function (data) {
                     // call autocomplete callback method with results  
                     response($.map(data, function (data) {
                         return {
                             label: data.CityName,
                             value: data.CityId
                         }
                     }));
                 },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                     alert('Error occured while autocomplete');
                 },
             });
         }
     });

     $('#toCity').autocomplete({

         //make ajax call
         source: function (request, response) {
             $.ajax({
                 url: "Home/ShowCityNames/",
                 type: 'POST',
                 data: { strTerm: request.term },
                 dataType: 'json',
                 success: function (data) {
                     // call autocomplete callback method with results  
                     response($.map(data, function (data) {
                         return {
                             label: data.CityName,
                             value: data.CityId
                         }
                     }));
                 },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                     alert('Error occured while autocomplete');
                 },
             });
         }
     });

</script>
    }