<div class="well">
    <legend>Search Online Bus</legend>
    <!-- Text input-->
    <div class="control-group" id="divFromCity">
        <div class="controls">
            <input id="fromCity" name="fromCity" type="text" placeholder="From City" class="input-block-level" rel="city">       
        </div>
    </div>
    <!-- Text input-->
    <div class="control-group" id="divToCity">
        <div class="controls">
            <input id="toCity" name="toCity" type="text" placeholder="To City" class="input-block-level" rel="city">
        </div>
    </div>
    <!-- Text input-->
    <div class="control-group" id="divDate">
        <div class="controls">
            <div class="input-append">
                <input class="datefield" id="journeyDate" type="text" placeholder="Journey Date"/>
            </div>
        </div>
    </div>
    <!-- Button -->
    <div class="control-group">
        <div class="controls">
            <button id="btnSearch"  class="btn btn-danger" >
                Search</button>
        </div>
    </div>
</div>