
<form class="form-horizontal">
    <div>
     Search Online Bus
    </div>
  <div class="control-group">
    <label for="FromCity" class="control-label">From City</label>
       <div class="controls">
    <input id="fromCity" name="fromCity" type="text" placeholder="From City" class="input-block-level" rel="city"> 
           </div>
  </div>
  <div class="control-group">
    <label for="ToCity" class="control-label">To City</label>
       <div class="controls">
    <input id="toCity" name="toCity" type="text" placeholder="To City" class="input-block-level" rel="city">
           </div>
  </div>
  <div class="control-group">
      <div class="input-append">
           <label for="JourneyDay" class="control-label">Journey Day</label>
           <div class="controls">
                <input class="datefield" id="journeyDate" type="text" placeholder="Journey Date"/>
               </div>
            </div>
  </div>
  <div class="control-group">
      <div class="input-append">
           <label for="ReturnDay" class="control-label">Return Day</label>
     <div class="controls">
               <input class="datefield" id="ReturnDate" type="text" placeholder="Return Date"/>
         </div>
            </div>
  </div>
  <div class="control-group">
        <div class="controls" >
            <button id="btnSearch"  class="btn btn-danger" >
                Search</button>
        </div>
    </div>
</form>